* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway',
  sans-serif;
}

.background-container {
  margin: 0;
  height: 100vh;
  background: url(wave_red.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center top;
}

.header-container {
  color: white;
  padding: 30px 50px;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-box {
  max-width: 600px;
  background: white;
  box-shadow: 0 0 13px 0 rgba(153, 153, 153, .5);
  border-radius: 10px;
  padding: 30px 40px;
  flex: 1 1 auto;
  margin: 20px;
}

h2 {
  text-align: center;
  color: #E74C3C;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  color: black;
  font-weight: 600;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  padding: 8px;
  font-size: 16px;
}

.button {
  background: #E74C3C;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 15px;
}